.left-col-item-info {
	width: 30%; 
	padding: 4px; 
	border: 1px solid grey;
}

.right-col-item-info {
	width: 70%;
	padding: 4px;
	border: 1px solid grey;
}

#btn-div {
	width: 100%; 
	text-align: center
}

#item-info {
	width: 100%; 
	margin-top: 20px;
}