.page-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.item-wrapper{
    width:60%; /* Change this depending on the resolution */
} 
    
#image {
    width:100%;
    height: 180px;
}

p {
    width: 100%; 
    text-align: center;
}

#submitBtn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page-wrapper {

}

.parent-vertical>.child-vertical-middle {
	padding: 9px;
}

.parent-vertical>p {
	word-break: break-all;
}

        .items {

        }
        .item-wrapper {
        	margin-left: 6px;
            display: inline-block;
            margin-top: 8px;
            margin-bottom: 8px;
            width: 220px;
            padding: 6px;
            height: 400px;
        }

        .item-content {
			border: 1px solid aqua;
			background: white;
            height: 100%;

            text-align: center;
            position: relative;
        }

        #submit {
 
        }

        #image {
            width: 100%;
        }
        
        .parent-vertical {
            display: table;
            width:100%;
        }
        .child-vertical-middle{
            display: table-cell; 
            vertical-align: middle;
        }

        .button-wrapper {
            position: absolute;
            bottom: 0;
        }
        
        @media (max-width: 768px) {
        	.item-wrapper {
        		display: initial;
        	}
        	
        	#image {
        		height: 270px;
        	}
        	
        	.item-content>div{
        		padding: 12px;
        	}
        	
        	.button-wrapper {
        		position: initial;
        	}
        }
        
        .item-wrapper-padding {
			border: 29px solid transparent;
		}
        
		@media (min-width:768px) and (max-width:992px){
			.item-wrapper-padding {
				border: 109px solid transparent;
			}
		}
		
		@media (min-width:992px) and (max-width:1200px){
			.item-wrapper-padding {
				border-left: 57px solid transparent;
				border-right: 57px solid transparent;
			}
		}

</style>
<!-- CSS STYLING -->